#body-content{
  font-style: normal;
  margin:0px;
  margin-bottom: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
   margin-bottom: 5px;
}

#item-content{
  margin-bottom: 0px;
  padding: 0px;
}

#feel{
    margin-top:0px;
    padding:0px ;
    width: 100%;
    padding-left:0px; 
    padding-bottom:0px;
    margin-bottom: 5px;
    background-size: cover;    
}

.item {
    list-style-type: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 27%;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: rgb(207, 207, 207);
  }
  
  li {
    float: left;
    
  }
  
  li img {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #trending{
    text-align: center;
    background: #fff;
    color: #000;
  }
  
  #fashion{
    margin-top:0px;
    padding:0px ;
    width: 100%;
    padding-left:0px; 
    padding-bottom:0px;
    margin-bottom: 5px;
    background-size: cover;    
}

h2{
  background: crimson;
  color: #fff;
}

#footer{
  padding: 20px;
  text-align: left;
  background:#000;
  color: #fff;
}

#copyright{
  text-align: right;
  padding-right: 20px;
  float: right;

}

#cab{
width: 50px;
height: 100px;
}